core/src/main/resources/org/axonframework/contextsupport/spring/axon-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010. Axon Framework
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://www.axonframework.org/schema/core"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.axonframework.org/schema/core"
            xmlns:beans="http://www.springframework.org/schema/beans"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!-- ================================== -->
    <!-- ==== eventBus ==================== -->
    <!-- ================================== -->
    <xsd:element name="event-bus">
        <xsd:annotation>
            <xsd:documentation>
                Spring context schema extension for the definition
                of an EventBus instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- ================================== -->
    <!-- ==== commandBus ================== -->
    <!-- ================================== -->
    <xsd:element name="command-bus">
        <xsd:annotation>
            <xsd:documentation>
                Spring context schema extension for the definition
                of a CommandBus instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="interceptors" type="beans:listOrSetType"
                                     minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>A list of interceptors to be registered with
                                    the command bus.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="subscriptions" type="beans:mapType"
                                     minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>A map of subscriptions of handlers to command
                                    types.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- ================================== -->
    <!-- == Annotation-based configuration= -->
    <!-- ================================== -->
    <xsd:element name="annotation-config">
        <xsd:annotation>
            <xsd:documentation>This element activates annotation-based
                configuration of event handling and command processing in the Axon
                framework. This relies on Spring to work.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="command-bus" type="xsd:IDREF" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Explicitly select a command bus to use. If left
                        blank, a command bus will be selected from the context.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="executor" type="xsd:IDREF" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Select an executor to use for the event
                        handlers.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="event-bus" type="xsd:IDREF" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Explicitly select an event bus to use. If left
                        blank, an event bus will be selected from the context.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- ================================== -->
    <!-- == eventStore ==================== -->
    <!-- ================================== -->
    <xsd:element name="event-store">
        <xsd:annotation>
            <xsd:documentation>Spring context schema extension for the definition
                of an EvenStore instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="type" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The type of event store to create (options: FILE or JPA)
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="FILE"/>
                                <xsd:enumeration value="JPA"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="event-serializer" use="optional" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Reference to an event serializer to use with this event store.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="entity-manager" use="optional" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Reference to an entity manager to use with this event store.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="base-dir" use="optional" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The base directory for this event store (mandatory for a FILE type event
                                store).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- ================================== -->
    <!-- == repository ==================== -->
    <!-- ================================== -->

    <xsd:element name="repository">
        <xsd:annotation>
            <xsd:documentation>Spring context schema extension for the definition of a Repository instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:all>
                        <xsd:element name="snapshot-trigger" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="beans:identifiedType">
                                        <xsd:attribute name="event-count-threshold" use="required"
                                                       type="xsd:positiveInteger"/>
                                        <xsd:attribute name="snapshotter-ref" use="required" type="xsd:IDREF"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="event-processors" type="beans:listOrSetType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>A list of processors that get access to raw event data as it read or
                                    written to the event stream.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="aggregate-type" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The fully qualified class name of the AggregateRoot type that this
                                repository will store.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="locking-strategy" use="optional" default="OPTIMISTIC">
                        <xsd:annotation>
                            <xsd:documentation>The locking strategy used by this repository (default: OPTIMISTIC).
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="OPTIMISTIC"/>
                                <xsd:enumeration value="PESSIMISTIC"/>
                                <xsd:enumeration value="NO_LOCKING"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="event-store" use="optional" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Reference to the EventStore used by this repository.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="event-bus" use="optional" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Reference to the EventBus used by this repository.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="conflict-resolver" use="optional" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Reference to the ConflictResolver used by this repository.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>